# ===============================
# Python
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env

# ===============================
# Logs & Generated Data
# ===============================
*.log
sample_logs/
reports/*.pdf

# ===============================
# OS / Editor Files
# ===============================
.DS_Store
Thumbs.db
.vscode/
.idea/

# ===============================
# Security / Secrets
# ===============================
*.key
*.pem
*.crt
*.token

# ===============================
# SIEM / SOC Artifacts
# ===============================
wazuh_logs/
elastic_data/


# Ignore generated SOAR artifacts
actions/*
outbox/*

# Keep directory structure
!actions/.keep
!outbox/.keep
